In [35]:
import pandas as pd
import matplotlib.pyplot as plt
data = pd.read_excel("Food_Establishment_Inspection_Scores_(2).xlsx")

data.head()

,Restaurant Name,Zip Code,Inspection Date,Score,Address,Facility ID,Process Description,Street,City,State,ZipCode,GEO
0,Riverside Golf Course,78741,2018-05-08,95,"1020 GROVE BLVD\nAUSTIN, TX 78741\n(30.2361463...",11621131,Routine Inspection,1020 GROVE BLVD,AUSTIN,TX,78741,"(30.236146327582727, -97.70482409277524)"
1,"Honey Baked Ham Company LLC, The",78758,2017-06-08,96,"9029 RESEARCH BLVD\nAUSTIN, TX 78758\n(30.3732...",11496272,Routine Inspection,9029 RESEARCH BLVD,AUSTIN,TX,78758,"(30.373254870396227, -97.72429605846118)"
2,Common Interest,78757,2017-09-26,88,"8440 BURNET RD\nAUSTIN, TX 78757\n(30.36658318...",2800143,Routine Inspection,8440 BURNET RD,AUSTIN,TX,78757,"(30.36658318120088, -97.72870848480298)"
3,Ranch 616,78701,2016-10-28,79,"616 NUECES ST\nAUSTIN, TX 78701\n(30.270450765...",2801490,Routine Inspection,616 NUECES ST,AUSTIN,TX,78701,"(30.270450765862858, -97.74830805246421)"
4,Costco #681 Retail,78759,2016-03-28,95,"10401 RESEARCH BLVD\nAUSTIN, TX 78759\n(30.396...",2803772,Routine Inspection,10401 RESEARCH BLVD,AUSTIN,TX,78759,"(30.396227477255355, -97.74533155899795)"

In [49]:
business = data[['Restaurant Name', 'Zip Code', 'Address', 'Facility ID', 'Street', 'City', 'State', 'ZipCode', 'GEO']]
print(len(business))
business = business.drop_duplicates(subset='Facility ID')
print(len(business))
business.head()

24625
5104

,Restaurant Name,Zip Code,Address,Facility ID,Street,City,State,ZipCode,GEO
0,Riverside Golf Course,78741,"1020 GROVE BLVD\nAUSTIN, TX 78741\n(30.2361463...",11621131,1020 GROVE BLVD,AUSTIN,TX,78741,"(30.236146327582727, -97.70482409277524)"
1,"Honey Baked Ham Company LLC, The",78758,"9029 RESEARCH BLVD\nAUSTIN, TX 78758\n(30.3732...",11496272,9029 RESEARCH BLVD,AUSTIN,TX,78758,"(30.373254870396227, -97.72429605846118)"
2,Common Interest,78757,"8440 BURNET RD\nAUSTIN, TX 78757\n(30.36658318...",2800143,8440 BURNET RD,AUSTIN,TX,78757,"(30.36658318120088, -97.72870848480298)"
3,Ranch 616,78701,"616 NUECES ST\nAUSTIN, TX 78701\n(30.270450765...",2801490,616 NUECES ST,AUSTIN,TX,78701,"(30.270450765862858, -97.74830805246421)"
4,Costco #681 Retail,78759,"10401 RESEARCH BLVD\nAUSTIN, TX 78759\n(30.396...",2803772,10401 RESEARCH BLVD,AUSTIN,TX,78759,"(30.396227477255355, -97.74533155899795)"

In [51]:
business.to_excel("Food_Establishment_Unique.xlsx", index=False)

In [52]:
business_scores = data[['Inspection Date', 'Score', 'Facility ID']]
business_scores = business_scores.sort_values(by=['Facility ID', 'Inspection Date'], ascending=[1,0])
business_scores.head()

      Inspection Date  Score  Facility ID
18608      2018-08-20     78      2800004
15201      2018-01-02     95      2800004
14462      2017-04-27     86      2800004
6626       2016-10-19     87      2800004
4948       2016-04-19     89      2800004

In [53]:
business_scores.to_excel("Food_Establishment_Inspections.xlsx", index=False)